.body {
    margin: 0px;
    padding: 0px;

    height: 100%;
}

/*.mainBackground {
    width: 102%;
    height: 100vh;

    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    position: relative;
}*/

.mainBackground {
    width: 102%;
    height: 700px;
    background-image: url(../img/main-bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

.navbar {
    width: 100%;
    height: 60px;

    background-color: black;
    opacity: 75%;

    font-family: 'Cabin', sans-serif;
    padding-left: 80px;
    padding-top: 40px;
    color: white;
    font-weight: bold;
    position: fixed;
    display: flex;
}

.menu {
    width: 100%;
    margin-left: 700px;
    margin-right: 50px;
    float: right;
}

.anchor {
    margin-right: 120px;
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
}